/* Estilo básico para a página de cadastro */

/* Centralizando o formulário horizontalmente e alinhando o conteúdo à esquerda */
.form-container {
    width: 400px; /* Define a largura do formulário */
    text-align: left; /* Alinha o conteúdo à esquerda */
    border-radius: 10px; /* Bordas arredondadas */
}

/* Estilo adicional para o formulário */
.form-container h2 {
    text-align: left; /* Garante que o título fique alinhado à esquerda */
    margin-bottom: 20px;
}

.form-container input, .form-container label {
    font-size: 1rem; /* Tamanho da fonte */
}

.form-container button {
    width: 100%; /* Faz o botão preencher a largura do formulário */
    font-size: 1.2rem; /* Aumenta o tamanho do texto do botão */
}

/* Flexbox para centralizar o conteúdo principal verticalmente e horizontalmente */
main {
    height: calc(100vh - 100px); /* Altura da janela, ajustada para incluir header e footer */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilização de sombra e fundo para o formulário */
.form-container {
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
    padding: 20px; /* Espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
}

/* Responsividade */
@media (max-width: 768px) {
    .form-container {
        width: 90%; /* O formulário ocupará 90% da largura em telas menores */
    }
}
